body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden
}
body {
  background: #111;
  font: 90%/1.2 Arial
}
h2 {
  font-size: 170%;
  color: #fff;
  font-weight: normal;
  margin: 0 0 1em 0
}
h3 {
  font-size: 150%;
  color: #fff;
  margin: 0 0 .25em 0
}
a {
  color: #fc0
}
kbd {
  font: inherit;
  color: #666;
  display: inline-block;
  background: #fff;
  background: -webkit-linear-gradient(#bbb, #fff 93%, #888);
  background: linear-gradient(#bbb, #fff 93%, #888);
  padding: 7% 8% 7.5% 8%;
  margin: 4px 2px;
  min-width: 1.25em;
  text-align: center;
  box-shadow: 0 1px 4px #000, inset 0 1px 1px rgba(255, 255, 255, .75), inset 0 -.35em 0 #888;
  border-radius: 4px;
  text-transform: uppercase
}
.viewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000
}
#gun {
  background: url("../gun.png");
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2000;
  height: 315px;
  width: 360px;
  z-index: 1;
  -webkit-animation: gun 2.5s infinite;
  animation: gun 2.5s infinite
}
#viewport {
  -webkit-transition: .5s;
  transition: .5s;
  height: 100%
}
#credits {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  color: #fff;
  z-index: 3
}
#loading {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 120%;
  z-index: 4
}
#instructions {
  border-spacing: 50px;
  width: 100%;
  display: table;
  position: absolute;
  text-align: center;
  top: 20%;
  height: 50%;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s
}
.panel {
  box-sizing: border-box;
  display: table-cell;
  padding: 3%;
  background: rgba(40, 40, 40, .85);
  box-shadow: 0 0 8px rgba(0, 0, 0, .75);
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  width: 33.3%
}
#move kbd:first-of-type {
  margin-left: 33%;
  margin-right: 33%
}
#jump kbd {
  display: block
}
.hide {
  opacity: 0
}
@-webkit-keyframes gun {
  50% {
    -webkit-transform: translateY(7px) scale(0.99);
    transform: translateY(7px) scale(0.99)
  }
}
@keyframes gun {
  50% {
    transform: translateY(7px) scale(0.99)
  }
}
;
